/* line 1, app/assets/stylesheets/teacherindex.css.scss */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-top: 1px;
  margin-bottom: 100px;
}

/* line 9, app/assets/stylesheets/teacherindex.css.scss */
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* line 15, app/assets/stylesheets/teacherindex.css.scss */
tr:nth-child(even) {
  background-color: #dddddd;
}
