<footer class="bg-secondary text-white py-4 mt-auto" style="background-color: $secondary-color;">
  <div class="container text-center">
    <small>&copy; <%= Time.current.year %> LMS Demo. All rights reserved.</small>
  </div>
</footer>
