
<%= render 'home/navbar'%>
<center>

<h1>Welcome to the LMS</h1>
</center>

<div data-controller="click" data-click-number-value=0>
<h1 data-click-target="output"></h1>
<button data-action='click#clicked'>CLICK ME</button>
</div>
<br><br>
<div data-controller="text-input">
<input type="text" data-action="text-input#changed" data-text-input-target ="input">
<h1 data-text-input-target='output'></h1>
</div>
<div data-controller="character-counter">
  <textarea data-character-counter-target="input" rows="5"></textarea>
  <span data-character-counter-target="count">0</span> characters
</div>
